<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Melody Mentors</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<title>Melody Mentors</title>

<body style="background-color: whitesmoke">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{home}">Melody Mentors</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{anniversaries}">This Month's Anniversaries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{studentsByAge}">Students By Age</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{studentsByInstrument}">Students by Instrument</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<div class="container mt-4">
    <h2>Student List</h2>
    <div class="d-flex align-items-center justify-content-between">
        <form th:action="@{/search}" method="get">
            <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by Student Last Name" size="50">
            <button type="submit" class="btn btn-info">Search</button>
            <button type="submit" class="btn btn-info">Reset</button>
        </form>
        <div class="ml-auto">
            <a th:href="@{/showFormForAdd}"
               class="btn btn-primary btn-sm mb-1">Add Student</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="table-primary">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Instrument</th>
            <th>Start Date</th>
            <th>Teacher Name</th>
            <th>Birth Year</th>
            <th>Zp Code</th>
            <th>Update/Delete</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="student : ${students}">

            <td th:text="${student.firstName}"/>
            <td th:text="${student.lastName}"/>
            <td th:text="${student.instrument}"/>
            <td th:text="${#dates.format(student.startDate, 'MM-dd-yyyy')}"/>
            <td th:text="${student.teacherName}"/>
            <td th:text="${student.birthYear}"/>
            <td th:text="${student.zip}"/>
            <td>
                <a th:href="@{/showFormForUpdate(studentId=${student.id})}" class="btn btn-info btn-sm">Update</a>
                <a th:href="@{/delete(studentId=${student.id})}" class="btn btn-danger btn-sm "
                   onclick="if (!(confirm('Confirm deletion of this student?'))) return false"
                >Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>